{% load static %}

<div id="sidebar">
  <div id="logo">
    <h1><a href="{% url 'catalogo:home' %}"> UJAT ?</a></h1>
    <p>Universidad Juárez Autónoma de Tabasco</p>
  </div>
  <div id="widgets">
    <div id="widgets-top"></div>
    <ul>
      <li>
        <h2>Categoria</h2>
        <ul>
          <li><a href="{% url 'catalogo:familia-list' %}">Familia</a></li>
          <li><a href="#">Consectetuer adipiscing elit</a></li>
          <li><a href="#">metus aliquam pellentesque</a></li>
          <li><a href="#">Suspendisse iaculis mauris</a></li>
          <li><a href="#">Urnanet non molestie semper</a></li>
          <li><a href="#">Proin gravida orci porttitor</a></li>
        </ul>
      </li>
      <li>
        <h2>Archives</h2>
        <ul>
          <li><a href="{% url 'logout' %}" title="Cerrar sesión" class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-600 hover:text-red-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </a></li>
          <li><a href="#">August</a> (31)</li>
          <li><a href="#">July</a> (31)</li>
          <li><a href="#">June</a> (30)</li>
          <li><a href="#">May</a> (31)</li>
          <li><a href="#">April</a> (30)</li>
          <li><a href="#">March</a> (31)</li>
          <li><a href="#">February</a> (28)</li>
          <li><a href="#">January</a> (31)</li>
        </ul>
      </li>
    </ul>
  </div>
</div>