<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nexus Herpetario | Conservación y Educación</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
                rel="stylesheet">
        <script>
                tailwind.config = {
                        theme: {
                                extend: {
                                        fontFamily: {
                                                sans: ['Poppins', 'sans-serif'],
                                        },
                                        colors: {
                                                primary: '#2A9D8F',
                                                secondary: '#264653',
                                                accent: '#E9C46A',
                                                danger: '#E76F51',
                                        }
                                }
                        }
                }
        </script>
</head>

<body class="bg-gray-50 font-sans">
        <!-- Header -->
        {% include 'navbar.html' %}

        <!-- Hero Section -->
        {% include 'carusel.html' %}

       <!-- main -->
        <main>
            {% block content %}
            {% include 'main.html' %}
            {% endblock %}
        </main>

        <!-- Footer -->
        {% include 'footer.html' %}
</body>

</html>