{% load static %}
<section class="relative bg-secondary text-white">
    <div class="absolute inset-0 bg-black opacity-40"></div>
    <div class="container mx-auto px-4 py-32 relative z-10">
        <div class="max-w-2xl">
            <h2 class="text-4xl md:text-5xl font-bold mb-4">Deeeescubre el mundo de los reptiles y
                anfibios</h2>
            <p class="text-xl mb-8">Un espacio dedicado a la conservación, educación y aprecio por
                estas fascinantes
                criaturas.</p>
            <div class="flex space-x-4">
                <a href="#"
                    class="bg-primary hover:bg-primary-dark text-white px-6 py-3 rounded-lg font-medium transition duration-300">Planificar
                    visita</a>
                <a href="#"
                    class="bg-transparent border-2 border-white hover:bg-white hover:text-secondary text-white px-6 py-3 rounded-lg font-medium transition duration-300">Conoce
                    más</a>
            </div>
        </div>
    </div>
    <div
        class="absolute inset-0 bg-[url('https://images.unsplash.com/photo-1559253664-ca249d4608c6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')] bg-cover bg-center">
    </div>
</section>